POSTGRES_DB=djangoninja
POSTGRES_USER=djangoninja
POSTGRES_PASSWORD=djangoninja
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=0.1
KINDE_CLIENT_ID=
KINDE_CLIENT_SECRET=
KINDE_HOST=
KINDE_ISSUER_URL=
KINDE_REDIRECT_URI=
